<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <% @account.name %>
</p>

<p>
  <strong>Consumer key:</strong>
  <% if @account.consumer_key %>
    true
  <% end %>
</p>

<p>
  <strong>Consumer secret:</strong>
  <% if @account.consumer_secret %>
      true
  <% end %>
</p>

<p>
  <strong>Access token:</strong>
  <% if @account.access_token %>
      true
  <% end %>
</p>

<p>
  <strong>Access token secret:</strong>
  <% if @account.access_token_secret %>
      true
  <% end %>
</p>

<%= link_to 'fave some tweets..', account_favorite_tweet_path(@account) %>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
